---
import LeaderBoard from "../components/LeaderBoard.jsx";
import Layout from "../layouts/Layout.astro";

const leaderboardData = [
  { name: "Usu치rio 1", points: 80 },
  { name: "Usu치rio 2", points: 60 },
  { name: "Usu치rio 3", points: 40 },
  { name: "Usu치rio 4", points: 20 },
];
---

<Layout>
  <div class="flex items-center justify-center min-h-screen">
    <LeaderBoard client:load data={leaderboardData} />
  </div>
</Layout>
